In [36]:
# Bibliotèque pour effectuer des request HTTP vers des site web et API
import requests

In [37]:
# Bibliothèque pour parser facilement et rapidemement du HTML ou XML pour analyser
from bs4 import BeautifulSoup

In [41]:
import pandas as pd

In [44]:
books = []
# Parcourir toutes les pages
for i in range(1,51) :
    # Récuperation du lien du site à scapper
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    response = response.content
    # Parsing de tout le code HTML
    soup = BeautifulSoup(response, 'html.parser')
    # Récupération de la première balise 'ol'
    ol = soup.find('ol')
    # Recuperation de toute les balises 'article' ayant la classe "product_pod" à l'interieur de la balise 'ol'
    articles = ol.find_all('article', class_='product_pod')

    for article in articles :
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p', class_='price_color').text
        price = price[1:]
        books.append([title, price, star])

In [46]:
df = pd.DataFrame(data=books, columns=['Title', 'Price', 'Star Rating'])

In [48]:
df.to_csv('books.csv')

In [51]:
df.shape

(1000, 3)

In [53]:
df.head()

                                   Title  Price Star Rating
0                   A Light in the Attic  51.77       Three
1                     Tipping the Velvet  53.74         One
2                             Soumission  50.10         One
3                          Sharp Objects  47.82        Four
4  Sapiens: A Brief History of Humankind  54.23        Five